Language: Cpp
Standard: Latest
ColumnLimit: 140
BreakBeforeBraces: Allman
BasedOnStyle: WebKit
PointerAlignment: Left
ReferenceAlignment: Left
UseTab: ForContinuationAndIndentation
TabWidth: 4

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: Consecutive 
AlignConsecutiveDeclarations: Consecutive  
AlignTrailingComments: true
AlwaysBreakTemplateDeclarations: No
Cpp11BracedListStyle: true
DerivePointerAlignment: true
IndentPPDirectives: BeforeHash
MaxEmptyLinesToKeep: 2
SpaceBeforeCpp11BracedList: false
NamespaceIndentation: All
SortIncludes: CaseSensitive
SeparateDefinitionBlocks: Always
SpaceAfterTemplateKeyword: false

IntegerLiteralSeparator:
  Binary: 4
  Hex: 4


BinPackArguments: false
BinPackParameters: true

IncludeCategories:
  - Regex: '^<windows.h>'
    Priority: -200
  - Regex: '^<'
    Priority: -100
  # finally other "" includes go between system headers and our headers
  - Regex: '^"'
    Priority: 0