Language: Cpp
Standard: Latest
ColumnLimit: 140
BreakBeforeBraces: Allman
BasedOnStyle: WebKit
PointerAlignment: Left
ReferenceAlignment: Left
UseTab: ForContinuationAndIndentation
TabWidth: 4

AlignConsecutiveAssignments: Consecutive 
AlignConsecutiveDeclarations: Consecutive  
AlignTrailingComments: true
AlwaysBreakTemplateDeclarations: No
Cpp11BracedListStyle: true
DerivePointerAlignment: true
MaxEmptyLinesToKeep: 2
SpaceBeforeCpp11BracedList: false
NamespaceIndentation: All
SortIncludes: CaseSensitive
SeparateDefinitionBlocks: Always
SpaceAfterTemplateKeyword: false

# clang-format 16
#IntegerLiteralSeparator:
#  Binary: 4
#  Decimal: 3
#  Hex: 0
